## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [205]:
import pandas as pd
import numpy as np 

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [206]:
# View the column names in the data
print("Column names:", df.columns)

Column names: Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [207]:
# Use the describe function to gather some basic statistics
print(df.describe())

          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [208]:
# Use this space to do any additional research
# and familiarize yourself with the data.

# Looking for how many clients do the same job.
job_counts = df['job'].value_counts()
print(job_counts)

job_descriptions = job_counts.index.tolist()
print(job_descriptions)

job_description_counts = list(job_counts.items())
print(job_description_counts)

# Looking to see how many people per area code
import re

# Define a function to extract the area code from a phone number
def extract_area_code(phone):
    # Search for the pattern (1)?(\d{3})[-.\s]?(\d{3})[-.\s]?(\d{4})(x\d+)?
    # and capture the 3-digit area code in the second group
    match = re.search(r'(1)?(\d{3})[-.\s]?(\d{3})[-.\s]?(\d{4})(x\d+)?', phone)
    if match:
        return match.group(2)
    else:
        return None

# Apply the function to the 'phone' column to extract the area code
df['area_code'] = df['phone'].apply(extract_area_code)

# Count the number of phone numbers by area code
area_code_counts = df['area_code'].value_counts()

# Print the result
print(area_code_counts)

job
Osteopath                             631
Toxicologist                          546
Architectural technologist            430
Librarian, academic                   389
Teacher, special educational needs    388
                                     ...
Copywriter, advertising                12
Midwife                                10
Insurance risk surveyor                 9
Runner, broadcasting/film/video         9
Advertising account planner             5
Name: count, Length: 498, dtype: int64
['Osteopath', 'Toxicologist', 'Architectural technologist', 'Librarian, academic', 'Teacher, special educational needs', 'Environmental manager', 'Public relations account executive', 'Call centre manager', 'Pension scheme manager', 'Audiological scientist', 'Emergency planning/management officer', 'Race relations officer', 'Physiotherapist', 'Hydrographic surveyor', 'Prison officer', 'Exhibitions officer, museum/gallery', 'Health and safety inspector', 'Buyer, industrial', 'Therapeutic radiographer', 'Actor', 'Administrator, charities/voluntary organisations', 'Education officer, museum', 'Research scientist (maths)', 'Drilling engineer', 'Therapist, drama', 'Commercial art gallery manager', 'Heritage manager', 'Haematologist', 'Make', 'Surveyor, land/geomatics', 'Agricultural consultant', 'Medical physicist', 'Financial trader', 'Software engineer', 'Production designer, theatre/television/film', 'Warden/ranger', 'Textile designer', 'Public relations officer', 'Environmental consultant', 'Consulting civil engineer', 'Psychiatrist', 'Dietitian', 'Designer, blown glass/stained glass', 'Armed forces technical officer', 'Chiropractor', 'Geophysical data processor', 'Immigration officer', 'Database administrator', 'Chief of Staff', 'Scientist, clinical (histocompatibility and immunogenetics)', 'Medical illustrator', 'Secretary, company', 'Archaeologist', 'Teacher, music', 'Local government officer', 'Town planner', 'Education administrator', 'Surveyor, mining', 'Camera operator', 'Journalist, magazine', 'Advice worker', 'Colour technologist', 'Purchasing manager', 'Surveyor, rural practice', 'Dispensing optician', 'Musician', 'Chief Financial Officer', 'Arts administrator', 'Graphic designer', 'Administrator, Civil Service', 'Retail manager', 'Radio producer', 'Broadcast journalist', 'Regulatory affairs officer', 'Solicitor, Scotland', 'Engineer, broadcasting (operations)', 'Psychologist, educational', 'Administrator, sports', 'Video editor', 'Architect', 'Investment banker, operational', 'Primary school teacher', 'Farm manager', 'Therapist, occupational', 'Therapist, sports', 'Nurse, learning disability', 'Diagnostic radiographer', 'Financial risk analyst', 'Ceramics designer', 'Legal executive', 'Lobbyist', 'Chartered management accountant', 'Customer service manager', 'Product manager', 'Product/process development scientist', 'Geographical information systems officer', 'Building services engineer', 'Exhibition designer', 'Theme park manager', 'Petroleum engineer', 'Best boy', 'Psychologist, clinical', 'Chiropodist', 'Land/geomatics surveyor', 'Armed forces training and education officer', 'Psychologist, prison and probation services', 'Editorial assistant', 'Health physicist', 'Commissioning editor', 'Sports coach', 'Technical brewer', 'Geneticist, molecular', 'Printmaker', 'Insurance underwriter', 'Facilities manager', 'Operational researcher', 'Retail buyer', 'Therapist, nutritional', 'Lawyer', 'Telecommunications researcher', 'Tree surgeon', 'Programmer, applications', 'Management consultant', 'Quarry manager', 'Engineer, structural', 'Journalist, newspaper', 'IT consultant', 'Publishing copy', 'Site engineer', 'Paramedic', 'Producer, radio', 'Geologist, engineering', 'Production engineer', 'Radiographer, diagnostic', 'Geologist, wellsite', 'Energy engineer', 'Minerals surveyor', 'Engineer, aeronautical', 'Secretary/administrator', 'Clinical psychologist', 'Designer, exhibition/display', 'General practice doctor', 'Intelligence analyst', 'Barrister', 'Product designer', 'Press sub', 'TEFL teacher', 'Scientist, research (physical sciences)', 'Claims inspector/assessor', 'Education officer, community', 'Structural engineer', 'Administrator, arts', 'Tourism officer', 'Music therapist', 'Teaching laboratory technician', 'Chartered accountant', 'Chartered certified accountant', 'Air cabin crew', 'Sales executive', 'Research officer, government', 'Herpetologist', 'Engineer, drilling', 'Learning mentor', 'Accountant, chartered certified', 'Energy manager', 'Museum education officer', 'Leisure centre manager', 'Actuary', 'Doctor, general practice', 'Equities trader', 'Multimedia specialist', 'Development worker, community', 'Media planner', 'Pharmacist, community', 'Conservator, museum/gallery', 'Educational psychologist', 'Designer, graphic', 'Speech and language therapist', 'Cabin crew', 'Dancer', 'Brewing technologist', 'Accountant, chartered', 'Recruitment consultant', 'Tax adviser', 'Aid worker', 'Surveyor, quantity', 'Market researcher', 'Restaurant manager, fast food', 'Mental health nurse', 'Charity fundraiser', 'Banker', 'Barista', 'Careers information officer', 'Artist', 'Communications engineer', 'Ophthalmologist', 'Radiation protection practitioner', 'Curator', 'Counselling psychologist', 'Technical sales engineer', 'Biochemist, clinical', 'Sports therapist', 'Presenter, broadcasting', 'Restaurant manager', 'Optician, dispensing', 'Designer, interior/spatial', 'Geophysicist/field seismologist', 'Museum/gallery exhibitions officer', 'Administrator, local government', 'Operations geologist', 'Outdoor activities/education manager', 'Engineer, electronics', 'Psychotherapist, child', "Nurse, children's", 'Glass blower/designer', 'Travel agency manager', 'Data processing manager', 'Medical laboratory scientific officer', 'Civil engineer, consulting', 'Further education lecturer', 'Exercise physiologist', 'Fish farm manager', 'Radio broadcast assistant', 'Amenity horticulturist', 'Research scientist (life sciences)', 'Orthoptist', 'Hospital doctor', 'Insurance broker', 'Education officer, environmental', 'Accounting technician', 'Senior tax professional/tax inspector', 'Government social research officer', 'Engineer, maintenance', 'Radiographer, therapeutic', 'Field seismologist', 'Personal assistant', 'Personnel officer', 'Games developer', 'Designer, jewellery', 'Retail merchandiser', 'Housing manager/officer', 'Museum/gallery curator', 'Animal technologist', 'Engineering geologist', 'Records manager', 'Information officer', 'Forest/woodland manager', 'IT technical support officer', 'Scientist, forensic', 'Homeopath', 'Medical secretary', 'Immunologist', 'Holiday representative', 'Special effects artist', 'Microbiologist', 'Production assistant, television', 'Dramatherapist', 'Learning disability nurse', 'Engineer, water', 'Engineer, mining', 'Buyer, retail', 'Financial adviser', 'Nature conservation officer', 'Seismic interpreter', 'Engineer, energy', 'Pilot, airline', 'Commercial horticulturist', 'Naval architect', 'Psychologist, sport and exercise', 'Mechanical engineer', 'Aeronautical engineer', 'Horticulturist, amenity', 'Solicitor', 'Journalist, broadcasting', 'Magazine journalist', 'Art gallery manager', 'Human resources officer', 'Lecturer, further education', 'Industrial/product designer', 'Photographer', 'Teacher, adult education', 'Fashion designer', 'Conservation officer, historic buildings', 'Event organiser', 'Waste management officer', 'Engineer, control and instrumentation', 'Field trials officer', 'Manufacturing engineer', 'Surveyor, hydrographic', 'Development worker, international aid', 'Engineer, technical sales', 'Private music teacher', 'Investment banker, corporate', 'Child psychotherapist', 'Logistics and distribution manager', 'Gaffer', 'Commercial/residential surveyor', 'Set designer', 'Designer, multimedia', 'Air broker', 'Conference centre manager', 'Engineer, building services', 'Advertising account executive', 'Physicist, medical', 'Land', 'Horticultural therapist', 'Surveyor, planning and development', 'Engineer, manufacturing systems', 'Warehouse manager', 'Accountant, chartered public finance', 'Editor, commissioning', 'Theatre director', 'Environmental education officer', 'Estate manager/land agent', 'Financial manager', 'Bookseller', 'Forensic psychologist', 'Engineer, land', 'Optometrist', 'Fine artist', 'Geoscientist', 'Estate agent', 'Plant breeder/geneticist', 'Analytical chemist', 'Astronomer', 'Accountant, chartered management', 'Scientist, water quality', 'Science writer', 'Clinical biochemist', 'Conservator, furniture', 'Public librarian', 'Civil Service fast streamer', 'Research officer, political party', 'Medical sales representative', 'Biomedical engineer', 'Equality and diversity officer', 'Lecturer, higher education', 'Medical technical officer', 'Teacher, primary school', 'Adult nurse', 'Trading standards officer', 'Programme researcher, broadcasting/film/video', 'Engineer, biomedical', 'Investment analyst', 'Designer, furniture', 'Community arts worker', 'Television floor manager', 'Social research officer, government', 'Biomedical scientist', 'Tour manager', 'Lighting technician, broadcasting/film/video', 'Archivist', 'Electrical engineer', 'Art therapist', 'Systems analyst', 'Diplomatic Services operational officer', 'Automotive engineer', 'Adult guidance worker', 'Arboriculturist', 'Advertising copywriter', 'Teacher, early years/pre', 'Dance movement psychotherapist', 'Designer, textile', 'Insurance account manager', 'Marine scientist', 'Arts development officer', 'Surveyor, building', 'Volunteer coordinator', 'English as a second language teacher', 'Psychotherapist, dance movement', 'Fitness centre manager', 'Physiological scientist', 'Print production planner', 'Designer, industrial/product', 'Associate Professor', 'Film/video editor', 'Pharmacist, hospital', 'Sound technician, broadcasting/film/video', 'Chemist, analytical', 'Rural practice surveyor', 'Museum/gallery conservator', 'Surveyor, commercial/residential', 'Hotel manager', 'Hydrogeologist', 'Ecologist', 'Health service manager', 'Therapist, music', 'Research scientist (medical)', 'Forensic scientist', 'Web designer', 'Engineer, manufacturing', 'Engineer, production', 'Careers adviser', 'Dentist', 'Nurse, adult', 'Historic buildings inspector/conservation officer', 'Health and safety adviser', 'Translator', "Politician's assistant", 'Police officer', 'Therapist, horticultural', 'Social researcher', 'Civil Service administrator', 'Jewellery designer', 'Clinical scientist, histocompatibility and immunogenetics', 'Accommodation manager', 'International aid/development worker', 'Paediatric nurse', 'Systems developer', 'Psychotherapist', 'Comptroller', 'Engineer, chemical', 'Freight forwarder', 'Hydrologist', 'Financial planner', 'Sales promotion account executive', 'Trade mark attorney', 'Embryologist, clinical', 'Surveyor, building control', 'Oncologist', 'Insurance claims handler', 'Water quality scientist', 'Ambulance person', 'Psychologist, counselling', 'IT trainer', 'Environmental health practitioner', 'Operational investment banker', 'Conservation officer, nature', 'Animator', 'Pharmacologist', 'Magazine features editor', 'Engineer, agricultural', 'Company secretary', 'Chief Operating Officer', 'Engineer, automotive', 'Surveyor, insurance', 'Newspaper journalist', 'Statistician', 'Clinical molecular geneticist', 'Information systems manager', 'Food technologist', 'Scientist, research (life sciences)', 'Ranger/warden', 'Corporate investment banker', 'Doctor, hospital', 'Sub', 'Community development worker', 'Materials engineer', 'Television camera operator', 'Surveyor, minerals', 'Armed forces logistics/support/administrative officer', 'Psychologist, forensic', 'Research officer, trade union', 'Clinical cytogeneticist', 'Cytogeneticist', 'Lexicographer', 'Airline pilot', 'Theatre stage manager', 'Counsellor', 'Clinical embryologist', 'Chief Technology Officer', 'Chartered loss adjuster', 'Retail banker', 'Surgeon', 'Passenger transport manager', 'Horticultural consultant', 'Engineer, site', 'Public affairs consultant', 'Theatre manager', 'Garment/textile technologist', 'Community pharmacist', 'Engineer, civil (contracting)', 'Herbalist', 'Editor, film/video', 'Location manager', 'Administrator', 'Chemical engineer', 'Youth worker', 'Quality manager', 'Chief Executive Officer', 'Engineer, electrical', 'Wellsite geologist', 'Maintenance engineer', 'Planning and development surveyor', 'Nutritional therapist', 'Merchant navy officer', 'Office manager', 'Network engineer', 'Occupational hygienist', 'Scientist, research (maths)', 'Engineer, materials', 'Special educational needs teacher', 'Publishing rights manager', 'Copywriter, advertising', 'Midwife', 'Insurance risk surveyor', 'Runner, broadcasting/film/video', 'Advertising account planner']

In [209]:
# What three item categories had the most entries?
top_categories = df['category'].value_counts().head(3)
print("Top 3 item categories with the most entries:")
print(top_categories)

Top 3 item categories with the most entries:
category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [210]:
# For the category with the most entries, which subcategory had the most entries?
top_category = top_categories.index[0]
top_subcategory = df[df['category'] == top_category]['subcategory'].value_counts().idxmax()
print(f"Subcategory with the most entries in {top_category}: {top_subcategory}")

Subcategory with the most entries in consumables: bathroom supplies

In [211]:
# Which five clients had the most entries in the data?
top_clients = df['client_id'].value_counts().head(5)
print("Top 5 clients with the most entries:")
print(top_clients)

Top 5 clients with the most entries:
client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [212]:
# Store the client ids of those top 5 clients in a list.
top_client_ids = top_clients.index.tolist()
print("Top 5 client IDs:", top_client_ids)

Top 5 client IDs: [33615, 66037, 46820, 38378, 24741]

In [213]:
# How many total units (the qty column) did the client with the most entries order order?
most_units_ordered = df[df['client_id'] == top_client_ids[0]]['qty'].sum()
print(f"Total units ordered by the client with the most entries: {most_units_ordered}")

Total units ordered by the client with the most entries: 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [214]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['subtotal'] = df['unit_price'] * df['qty']
print(df[['unit_price', 'qty', 'subtotal']].head())

   unit_price  qty   subtotal
0     1096.80  105  115164.00
1       24.95   21     523.95
2       13.52   39     527.28
3       36.42   29    1056.18
4      195.10   20    3902.00

In [215]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
df['total_weight'] = df['unit_weight'] * df['qty']

df['shipping_price'] = np.where(df['total_weight'] > 50, df['total_weight'] * 7, df['total_weight'] * 10)

print(df[['unit_weight', 'shipping_price']].head())

   unit_weight  shipping_price
0         7.50         5512.50
1         1.49          312.90
2         1.68          458.64
3         1.23          356.70
4        46.43         6500.20

In [216]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
sales_tax_rate = 0.0925
df['total_price'] = (df['subtotal'] + df['shipping_price']) * (1 + sales_tax_rate)

print(df[['subtotal', 'shipping_price', 'total_price']].head())

    subtotal  shipping_price    total_price
0  115164.00         5512.50  131839.076250
1     523.95          312.90     914.258625
2     527.28          458.64    1077.117600
3    1056.18          356.70    1543.571400
4    3902.00         6500.20   11364.403500

In [217]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df['line_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']

print(df[['unit_cost', 'qty', 'shipping_price', 'line_cost']].head())

   unit_cost  qty  shipping_price  line_cost
0     762.71  105         5512.50   85597.05
1      15.09   21          312.90     629.79
2       7.86   39          458.64     765.18
3      24.85   29          356.70    1077.35
4     108.17   20         6500.20    8663.60

In [218]:
# Create a column for the profit of each line using line cost and line price

df['profit'] = df['total_price'] - df['line_cost']

print(df[['total_price', 'line_cost', 'profit']].head())

     total_price  line_cost        profit
0  131839.076250   85597.05  46242.026250
1     914.258625     629.79    284.468625
2    1077.117600     765.18    311.937600
3    1543.571400    1077.35    466.221400
4   11364.403500    8663.60   2700.803500

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [219]:
# Check your work using the totals above

import math


# Given order totals to verify
provided_totals = {
    2742071: 152811.89,
    2173913: 162388.71,
    6128929: 923441.25
}

# Define a small tolerance for the comparison
tolerance = 0.02

# Filter the DataFrame for each Order ID and calculate the total prices
order_2742071_total = round(df[df['order_id'] == 2742071]['total_price'].sum(), 2)
order_2173913_total = round(df[df['order_id'] == 2173913]['total_price'].sum(), 2)
order_6128929_total = round(df[df['order_id'] == 6128929]['total_price'].sum(), 2)

# Print the calculated totals
print(f"Order ID 2742071 calculated total: ${order_2742071_total:,.2f}")
print(f"Order ID 2173913 calculated total: ${order_2173913_total:,.2f}")
print(f"Order ID 6128929 calculated total: ${order_6128929_total:,.2f}")

# Check if they match the provided totals using a flexible comparison
matches_2742071 = abs(order_2742071_total - provided_totals[2742071]) <= tolerance
matches_2173913 = abs(order_2173913_total - provided_totals[2173913]) <= tolerance
matches_6128929 = abs(order_6128929_total - provided_totals[6128929]) <= tolerance

# Print the result of the comparison
print(f"Order ID 2742071 matches receipt: {matches_2742071}")
print(f"Order ID 2173913 matches receipt: {matches_2173913}")
print(f"Order ID 6128929 matches receipt: {matches_6128929}")

Order ID 2742071 calculated total: $152,811.90
Order ID 2173913 calculated total: $162,388.72
Order ID 6128929 calculated total: $923,441.24
Order ID 2742071 matches receipt: True
Order ID 2173913 matches receipt: True
Order ID 6128929 matches receipt: True

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [220]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.

top_clients = [33615, 66037, 46820, 38378, 24741]

for client_id in top_clients:
    client_total_spend = df[df['client_id'] == client_id]['total_price'].sum()
    print(f"Client ID {client_id} spent a total of ${client_total_spend:,.2f}")

Client ID 33615 spent a total of $8,377,308.57
Client ID 66037 spent a total of $10,259,514.80
Client ID 46820 spent a total of $9,743,794.32
Client ID 38378 spent a total of $12,906,550.88
Client ID 24741 spent a total of $82,268,891.98

In [223]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 

summary_data =[]

# Calculate the metrics for each top client
for client_id in top_clients:
    total_units = df[df['client_id'] == client_id]['qty'].sum()
    total_shipping = df[df['client_id'] == client_id]['shipping_price'].sum()
    total_revenue = df[df['client_id'] == client_id]['total_price'].sum()
    total_profit = df[df['client_id'] == client_id]['profit'].sum()

    # append the data for this client to the summary list
    summary_data.append({
        'Client ID': client_id,
        'Total Units': total_units,
        'Total Shipping Price': total_shipping,
        'Total Revenue': total_revenue,
        'Total Profit': total_profit
    })

# Convert to DataFrame
summary_df = pd.DataFrame(summary_data)

# Format the Total Revenue and Total Profit columns with dollar signs
summary_df['Total Revenue'] = summary_df['Total Revenue'].apply(lambda x: f"${x:,.2f}")
summary_df['Total Profit'] = summary_df['Total Profit'].apply(lambda x: f"${x:,.2f}")

print(summary_df)

   Client ID  Total Units  Total Shipping Price   Total Revenue  \
0      33615        64313            1828984.89   $8,377,308.57
1      66037        43018            1395151.85  $10,259,514.80
2      46820        75768            1601448.84   $9,743,794.32
3      38378        73667            3429455.40  $12,906,550.88
4      24741       239862            5126448.37  $82,268,891.98

     Total Profit
0   $2,201,994.66
1   $3,255,031.82
2   $2,736,602.68
3   $3,271,829.90
4  $36,579,992.27

In [224]:
# Format the data and rename the columns to names suitable for presentation.
summary_df = summary_df.rename(columns={
    'Client ID': 'Client ID',
    'Total Units': 'Total Units Purchased',
    'Total Shipping Price': 'Total Shipping Cost',
    'Total Revenue': 'Total Revenue ($)',
    'Total Profit': 'Total Profit ($)'
})


# Define the money columns with the new names
money_columns = ['Total Shipping Cost', 'Total Revenue ($)', 'Total Profit ($)']

# Define a function that converts a dollar amount to millions.
def currency_format_millions(x):
    return f"${x / 1_000_000:.2f}M"

# Apply the currency_format_millions function to the correctly named money columns
for column in money_columns:
    if column in summary_df.columns:
        # First, strip any existing dollar signs and commas, then convert to float
        summary_df[column] = summary_df[column].replace(r'[\$,]', '', regex=True).astype(float)
        # Apply the currency formatting
        summary_df[column] = summary_df[column].apply(currency_format_millions)
    else:
        print(f"Warning: Column {column} not found in DataFrame!")

# Rename the columns to indicate the values are in millions
summary_df = summary_df.rename(columns={
    'Total Shipping Cost': 'Total Shipping Cost (Millions $)',
    'Total Revenue ($)': 'Total Revenue (Millions $)',
    'Total Profit ($)': 'Total Profit (Millions $)'
})

print("\nFinal DataFrame:")
print(summary_df)

Final DataFrame:
   Client ID  Total Units Purchased Total Shipping Cost (Millions $)  \
0      33615                  64313                           $1.83M
1      66037                  43018                           $1.40M
2      46820                  75768                           $1.60M
3      38378                  73667                           $3.43M
4      24741                 239862                           $5.13M

  Total Revenue (Millions $) Total Profit (Millions $)
0                     $8.38M                    $2.20M
1                    $10.26M                    $3.26M
2                     $9.74M                    $2.74M
3                    $12.91M                    $3.27M
4                    $82.27M                   $36.58M

In [225]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
sorted_df = summary_df.sort_values(by='Total Profit (Millions $)', ascending=False)

print("Sorted DataFrame by 'Total Profit (Millions $)':")
print(sorted_df)

Sorted DataFrame by 'Total Profit (Millions $)':
   Client ID  Total Units Purchased Total Shipping Cost (Millions $)  \
4      24741                 239862                           $5.13M
3      38378                  73667                           $3.43M
1      66037                  43018                           $1.40M
2      46820                  75768                           $1.60M
0      33615                  64313                           $1.83M

  Total Revenue (Millions $) Total Profit (Millions $)
4                    $82.27M                   $36.58M
3                    $12.91M                    $3.27M
1                    $10.26M                    $3.26M
2                     $9.74M                    $2.74M
0                     $8.38M                    $2.20M